
{% extends "layout.html" %}

{% block content %}
{% load static %}
<div style="height:80%; padding-top: 6%;">
        <form method="post">
            {% csrf_token %}
            {% if success == True %}
                <div style="display: flex; justify-content: center; ">
                    <h1>Mazel Tov !</h1>
                </div>
                <div style="display: flex; justify-content: center; ">
                        <img src={{ image.image.url }} style='max-height: 300px'/>
                </div>
                <div style="display: flex; justify-content: center; padding-top : 4%; ">
                    <button type="submit" name='new_game' value='True' class="btn btn-default">New game ?</button>
                </div>
            {% else %}
                <div style="display: flex; justify-content: center; ">
                    <h1>{{ message }}</h1>
                </div>
                {% for x in images %}
                    <div style="display: flex; justify-content: center; ">
                        {% for y in x %}
                            <button type="submit" name='tile_id' value={{y.id}}><img src={{ y.image.url }} class='vertical-align: middle; padding: auto;' /></button>
                        {% endfor %}    
                    </div>
                {% endfor %}
                <div style="display: flex; justify-content: center; padding-top : 4%; ">
                    <button type="submit" name='validate' value={{ parent.id }} class="btn btn-default">Validate</button>
                </div>
            {% endif%}
        </form>
</div>
{% endblock %}
