
{% extends "layout.html" %}

{% block content %} 
{% load static %}
<div style="height:80%; padding-top: 10%;">
        <form method="post">
            {% csrf_token %}
            {% if success == True %}
                <h1>Mazel Tov !</h1>
            {% else %}
                {% for x in images %}
                    <div style="display: flex; justify-content: center; ">
                    {% for y in x %}
                        <button type="submit" name='gt_id' value={{y.id}}><img src={{ y.tile.image.url }} ;' /></button>
        
                    {% endfor %}    
                    </div>
                {% endfor %}
                <div style="display: flex; justify-content: center; padding-top : 4%; ">
                    <button type="submit" name='validate' value={{ parent.id }} class="btn btn-default">Validate</button>
                </div>
            {% endif%}
        </form>
</div>
{% endblock %}
